
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/kv_test_del.iml
.idea/modules.xml
__pycache__/main.cpython-39.pyc
__pycache__/test_all.cpython-39.pyc
